# note: version requirements are indicative and tests # should be able to run with
# older versions of our dependencies, though it is not guaranteed.

# minimally require last versions available for Python 2.7
numpy>=1.16.6
matplotlib>=2.2.5
scipy>=1.2.3

# note that no version of inifix supports Python older than 3.6
inifix>=0.11.2
