# note: version requirements are indicative and tests should be able to run with
# older versions of our dependencies, though it is not guaranteed.

# minimally require earliest versions available for Python 3.10
numpy>=1.21.1
matplotlib>=3.5.0
scipy>=1.7.2
inifix>=0.11.2

pybind11 >= 3.0.4
# To run the test suite, we can use pytest, mostly any version
# 6.0 is the one available on system available on debian-11
pytest >= 6.0
