test/HD/SedovBlastWave/python/1Dsolution/data.0001.vtk filter=lfs diff=lfs merge=lfs -text
test/HD/ViscousFlowPastCylinder/python/data.0001.ref.vtk filter=lfs diff=lfs merge=lfs -text
test/MHD/AxisFluxTube/python/data.0001.ref.vtk filter=lfs diff=lfs merge=lfs -text
test/MHD/sod-iso/python/data.ref.vtk filter=lfs diff=lfs merge=lfs -text
test/MHD/OrszagTang/python/data.0001.ref.vtk filter=lfs diff=lfs merge=lfs -text
test/HD/FargoPlanet/python/data.0001.ref.vtk filter=lfs diff=lfs merge=lfs -text
test/MHD/AxisFluxTube/python/data.0001.ref-coarsening.vtk filter=lfs diff=lfs merge=lfs -text
test/MHD/OrszagTang3D/python/data.0001.ref.vtk filter=lfs diff=lfs merge=lfs -text
test/MHD/sod/python/data.ref.vtk filter=lfs diff=lfs merge=lfs -text
test/MHD/FargoMHDSpherical/python/data.0001.ref.vtk filter=lfs diff=lfs merge=lfs -text
test/HD/MachReflection/python/data.0001.ref.vtk filter=lfs diff=lfs merge=lfs -text
test/Planet/PlanetMigration2D/python/data.0010.ref.vtk filter=lfs diff=lfs merge=lfs -text
test/Planet/PlanetPlanetRK42D/python/data.0010.ref.vtk filter=lfs diff=lfs merge=lfs -text
test/Planet/PlanetTorque3D/python/data.0009.ref.vtk filter=lfs diff=lfs merge=lfs -text
