# Other requirements
# Python >= 3.7
# Doxygen https://www.doxygen.nl/download.html
#
# Install Sphinx and required plugins with the following command
# python -m pip install -r python_requirements.txt

wheel>=0.38.4 # help forward compatibility for pip with old sphinx plugins
sphinx==9.1.0
sphinx_rtd_theme==3.1.0
sphinx_git==11.0.0
breathe==4.36.0
exhale==0.3.7
m2r2==0.3.4
sphinx-copybutton==0.5.2
#sphinxcontrib-applehelp==1.0.7
matplotlib==3.10.0
