name: Idefix CIs
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - test-ci
  pull_request:
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/*'

jobs:
  cuda-jobs:
    name: CUDA Jobs
    uses: ./.github/workflows/idefix-ci-jobs.yml
    with:
      TESTME_OPTIONS: -cuda -Werror

  cpu-jobs:
    name: CPU Jobs
    uses: ./.github/workflows/idefix-ci-jobs.yml
    with:
      TESTME_OPTIONS: -Werror
